#Example .env.local file so new users know which variables to set. 
#PGUSER, POSTGRES_USER, and FLYWAY_USER should all be the same; similarly for the password.
#(I think flyway_user got used somewhere where pguser could have been, and this is why they are equal)
#You can enter your own token and local server url in Token/WS_URL var, and use setting.py to start algorithm more convient and safety.
#Setting.py file only read variable of .env.local file.
#These are the variables for the LOCAL version of Robosim!

#PostgreSQL
PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

FLYWAY_USER=
FLYWAY_PASSWORD=

#For setting.py
Token=
#default url is ws://localhost:7071
WS_URL=
