#Example .env file so new users know which variables they need to set!
#PGDATABASE / POSTGRES_DB should be the same, similarly for user and password. 
#These variables are used for running the DEPLOYED version of Robosim!

# Postgres
PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=

#Flyway
FLYWAY_USER=
FLYWAY_PASSWORD=

# Postgres container init vars
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
